body{
    background: url(bg.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.main-header{
    position: relative;
    font-size: 34px;
    line-height: 42px;
    color: #635f5f;
    border-bottom: #bdbbbb solid 2px;
    margin-bottom: 30px;
}

.main-header h1{
    margin-left: 15px;

}

.main-form{
    text-align: left;
    
}

.main-form .form{
    margin-left: 15px;
}

.form-group{
    margin-left: 5%;
}

.form-group input{
    border-radius: 8%;
    font-size: 15px;
}

.form-group label{
    font-size: 18px;
    color: #6e3939;
    font-weight: 600;
}